* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* Inicio body */

body {
    background-color: #252030 !important;
}


/* Inicio header */

header {
    background-color: #0000006c;
    color: rgba(0, 0, 0, 0.808);
    height: min-content;
}


/* @media only screen and (min-width: 576px) {
    .webChatLogo {
        width: 50vw;
        margin: 2vh auto;
    }
}

@media only screen and (min-width: 768px) {
    .webChatLogo {
        width: 30vw;
        margin: 2vh auto;
    }
}

@media only screen and (min-width: 992px) {
    .webChatLogo {
        width: 25vw;
        margin: 2vh auto;
    }
}

@media only screen and (min-width: 1200px) {
    .webChatLogo {
        width: 20vw;
        margin: 2vh auto;
    }
} */


/* Fin header */


/* Inicio main */

main {
    min-height: 80vh;
}

.card {
    background-color: transparent !important;
    margin: 2em auto;
    border-radius: 0px !important;
    -webkit-box-shadow: 4px 10px 19px 5px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 4px 10px 19px 5px rgba(0, 0, 0, 0.69);
    box-shadow: 4px 10px 19px 5px rgba(0, 0, 0, 0.69);
    color: rgb(0, 0, 0);
}

.card-header,
.card-footer {
    background-color: rgb(16, 89, 116) !important;
    color: #171616;
}

.card-body {
    background-color: #171616 !important;
    color: white;
}

.card-body input,
.card-body input:focus {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.452);
    border: none;
}

.card-body #signInButton {
    background-color: rgb(21 122 159);
    border: none;
    color: #171616;
    font-weight: bold;
}

.card-footer a:visited,
.card-footer a:link {
    color: #171616;
    font-weight: bolder;
}


/* Fin main */


/* Inicio footer */

footer {
    background-color: rgba(0, 0, 0, 0.219);
    padding: 2em 0px;
    color: rgba(219, 219, 219, 0.932);
}

.my-social-items {
    font-size: 34px;
}

.my-social-items li {
    margin: 0px 10px;
}

.my-social-items a:visited {
    color: #157ca1;
}

.my-social-items a:link {
    color: #157ca1;
}

.my-politics a:visited,
.my-politics a:link {
    text-decoration: none;
    color: white;
}


/* Fin footer */


/* Fin body */